# Dependencies
node_modules/

# Environment variables
.env
.env.*

# React / production builds
build/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploaded files
server/uploads/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db